.carousel-control-next,
.carousel-control-prev,
.carousel-control-next:focus,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-prev:hover {
    color: gray;
}

.disabled .toggle {
    background-color: lightgray!important;
}
.disabled .toggle:after {
    background-color: lightgray!important;
    border-color: gray!important;
}
